{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{% static 'miuride_app/css/index.css' %}">
    <script type="text/javascript" src="{% static 'miuride_app/js/jquery-3.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'miuride_app/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'miuride_app/js/speech.js' %}"></script>
    <script
      async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ key }}">
    </script>
    <title>みうライド</title>
  </head>
  <body>
    <div class="wrapper">
      <div id="startPage" class="started">
        <a class="started__content" onclick="starting()">
          <img class="started__content__image" src="{% static 'miuride_app/images/logo.png' %}" alt="">
          <p class="started__content__text">Tap to Start</p>
        </a>
      </div>
      <div id="main" class="main">
        <div class="main__tab">
          <div class="tabMenu">
            <h3 class="tabMenu__title">カテゴリ</h3>
            <ul class="tabMenu__list">
              <li class="tabMenu__list__item" onclick="getAndLocatePoints();"><a class="tabMenu__list__item__anchor" href="#">すべて</a></li>
              <li class="tabMenu__list__item is-active" onclick="getAndLocatePoints('tourism');"><a class="tabMenu__list__item__anchor" href="#">観光名所</a></li>
              <li class="tabMenu__list__item" onclick="getAndLocatePoints('gourmet');"><a class="tabMenu__list__item__anchor" href="#">食事処</a></li>
              <li class="tabMenu__list__item" onclick="getAndLocatePoints('public');"><a class="tabMenu__list__item__anchor" href="#">公共施設</a></li>
              <li class="tabMenu__list__item" onclick="getAndLocatePoints('emergency');"><a class="tabMenu__list__item__anchor" href="#">緊急</a></li>
            </ul>
          </div>
        </div>
        <div class="main__content">
          <div class="header">
            <div class="header__btnWrapper">
              <div class="header__btnWrapper__btn" onclick="tabSwitch(this)"></div>
              <hr class="header__btnWrapper__bar is-first">
              <hr class="header__btnWrapper__bar is-second">
              <hr class="header__btnWrapper__bar is-third">
            </div>
            <div class="header__title">
              <img src="{% static 'miuride_app/images/title.png' %}" alt="みうライド">
            </div>
          </div>
          <div id="map-canvas" class="gmap"></div>
          <script type="text/javascript" src="{% static 'miuride_app/js/gmap.js' %}"></script>
        </div>
      </div>
    </div>
  </body>
</html>
