<html>
<head>
  <title>新規登録</title>
  <link rel="stylesheet" href="{% static 'miuride_app/css/register.css' %}">
</head>
<body>

<div class="wrapper">
  <h1>データ入力画面</h1>
  <div class="inputContent">
    <form action="{% url 'index:register_tourism_point' %}" method="post">
      <div class="inputContent__item">
        <label for="name">観光ポイント名</label>
        <input id="name" type="text" name="name">
      </div>
      <div class="inputContent__item">
        <label for="description">詳細説明</label>
        <input id="description" type="text" name="description">
      </div>
      <div class="inputContent__item">
        <label for="lat">緯度</label>
        <input id="lat" type="text" name="lat">
      </div>
      <div class="inputContent__item">
        <label for="lng">経度</label>
        <input id="lng" type="text" name="lng">
      </div>
      {% csrf_token %}
      <div class="inputContent__item">
        <label for="category">カテゴリー</label>
        <select id="category" name="category">
          <option value="tourism">観光名所</option>
          <option value="gourmet">食事処</option>
          <option value="public">公共施設</option>
          <option value="emergency">緊急</option>
        </select>
      </div>
      <input class="inputContent__btn" type="submit" value="追加">
    </form>
  </div>
</div>

</body>
</html>
